{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
    <section id="connexion">

        <h2 class="h3 mb-3 font-weight-normal">Connectez-vous</h2>

        <div class="form">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Mot de Passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Pour activer la fonctionnalité "Remember me", décommentez ce bloc
                    et ajoutez l'option correspondante dans votre firewall.
                    Voir : https://symfony.com/doc/current/security/remember_me.html
                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                #}

                <button type="submit">Connexion</button>

                <a class="account" href="{{ path('app_inscription') }}">Vous n'avez pas de compte ? Inscrivez-vous</a>
                <a href="{{ path('app_lost_password')}}">Mot de passe oublié ?</a>
            </form>
        </div>
    </section>
{% endblock %}