{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    {# MAIN #}
    <section id="homeMain">

        {# Présentation nouveautés bouteilles #}
        <div class="nouveautés">
            <h2>Nouveautés</h2>

            {# Vins #}
            <div class="CartesVins">
                {% for vins in allVins %}
                    <div class="cards">
                        <a href="{{ path('app_details', {'id': vins.id }) }}" >
                            <div>
                                <img src="{{ asset('images/' ~ vins.imageName) }}" alt="">
                                <h3>{{vins.nom}}</h3>
                                <p>{{ vins.date|date("Y") }}</p>
                                <p>{{vins.description|slice(0, 30) ~ '...'}}</p>
                                <p>{{vins.region.pays.nom}} / {{vins.region.nom}} </p>
                                {# {% for raisinsVin in vins.raisinsVins %}
                                <p>{{ raisinsVins.raisins.nom }}</p>
                                {% endfor %} #}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        {# Intersection #}
        <div class="intersection">
            <img src="{{ asset('images/imageslogotono.png') }}" alt="">
            <h2>Découvrez les caves d'exception</h2>
        </div>

        {# Présentation Caves #}
        <div id="HomeCaves">
            {% for caves in caves %}
                <a style="background-image: url({{ asset('images/' ~ caves.imageName) }})" href={{ path('app_caves_details', {'id': caves.id }) }}>
                    <div>
                        <h3>{{caves.nom}}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>

    </section>

{% endblock %}
